table {
  border-column: collapse;
  width: 100%;
}
td {
  box-sizing: border-box;
  padding: 10;
  border: 1px solid lightgray;
}

.wrapper{
  width: 40%;
  margin: 0 auto;
  margin-top: 5vh;
  border: 1px solid black;
  padding: 4px;
}